<div class="transparent">
  <div id="signin">
    <h1>Welcome to vanBAN!</h1>
    <h3>Your personal kanban system.</h3>

    <p>Please sign in below!</p>

    <p>** Enter OAuth crap here. **</p>
  </div>
</div>

<div class="footer_links">
  <a href="/terms">Terms</a>
</div>