
@import url(http://fonts.googleapis.com/css?family=Londrina+Sketch);

// Palette
$color-light: rgba(255,255,255,1);
$color-light-trans: rgba(255,255,255,0.85);
$color-dark: rgba(17,17,17,1);
$color-dark-trans: rgba(17,17,17,0.85);

// Typography
$font-google: 'Londrina Sketch', cursive;
$font-sans: 'Tahoma', sans-serif;
$font-serif: serif;

// Structural Style
$b-rad: 10px;