
@import 'variables';

.header span {
  text-align: left;
  color: $color-light;
}

.kanban-panels {
  width: 100%;
  height: 100%;
  padding: 0 0 0 0;
  position: relative;
  overflow-x: scroll;
  overflow-y: auto;
}

.panel:first-child {
  margin-left: 10px;
}

.panel:last-child {

}


.panel {
  position: relative;
  float: left;
  background-color: $color-light-trans;
  border-radius: $b-rad;
  height: 82%;
  width: 24%;
  top: 60px;
  margin: 10px 10px 0 0;
  display: block;
  font-family: $font-sans;
  text-align: center;

}

.panel header {
  color: $color-light;
  text-shadow: #000 0 1px;
  box-shadow: 5px;
  padding: 1px;
  background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  background: -webkit-gradient(linear, left top, right top,
                               color-stop(0, rgb(0,0,0)),
                               color-stop(0.50, rgb(79,79,79)),
                               color-stop(1, rgb(21,21,21)));
  background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  border-bottom: 1px solid #ddd;
  -webkit-border-top-left-radius: $b-rad;
  -moz-border-radius-topleft: $b-rad;
  -ms-border-radius-topleft: $b-rad;
  border-top-left-radius: $b-rad;
  -webkit-border-top-right-radius: $b-rad;
  -ms-border-top-right-radius: $b-rad;
  -moz-border-radius-topright: $b-rad;
  border-top-right-radius: $b-rad;
}

.column {
  overflow: scroll;
  height: 100%;
}

.add {
  cursor: pointer;
}

.block_list {
  overflow: scroll;
  height: 100%;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.block, {

}

.portlet-content {
  display:none;
  padding: 0.4em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

#index_list ul {
  text-align: left;
}

