.message {
  z-index: 50;
  width: 50%;
  position: relative;
  top: 5px;
  color: white;
  font-size: 18px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
}

.notice {
  background: rgba(0, 100, 0, .75);
}
.error {
  background: rgba(255, 0, 0, .75);
}