<div class="transparent">
  <div id="index_list">

    <h1>List of vanBANS for <%= @user.name %></h1>

    <ul>
    <% @user.kanbans.each do |kanban| %>
      <li>

        <%= link_to kanban.board_name, user_kanban_path(@user, kanban) %>
        <% # flea.cat could also have been @cat, per Tim %>
      </li>
    <% end %>
    </ul>
    <p>
      <strong>
        <%= link_to "+ Add a new vanBAN!", new_user_kanban_path(@user) %>
      </strong>
    </p>

  </div>
</div>