
  <section class="kanban">
    <div class="kanban-panels">
      <div class="panel" id="to-do">
        <header class="panel_header">
          <h3>TO DO</h3>
        </header>
        <section class="block_list">
          <div class="block" draggable="true">.</div>
          <div class="block" draggable="true">.</div>
          <div class="block" draggable="true">.</div>
        </section>
      </div>
      <div class="panel" id="today">
        <header class="panel_header">
          <h3>TODAY</h3>
        </header>
        <section class="block_list">
          <div class="block" draggable="true">.</div>
          <div class="block" draggable="true">.</div>
          <div class="block" draggable="true">.</div>
          <div class="block" draggable="true">.</div>
        </section>
      </div>
      <div class="panel" id="wip">
        <header class="panel_header">
          <h3>WIP</h3>
        </header>
        <section class="block_list">
          <div class="block" draggable="true">.</div>
          <div class="block" draggable="true">.</div>
          <div class="block" draggable="true">.</div>
          <div class="block" draggable="true">.</div>
        </section>
      </div>
      <div class="panel" id="done">
        <header class="panel_header">
          <h3>DONE</h3>
        </header>
        <section class="block_list" dropzone="move " ondrop="receive(event, this)">
          <div class="block" draggable="true">.</div>
          <div class="block" draggable="true">.</div>
          <div class="block" draggable="true">.</div>
          <div class="block" draggable="true">.</div>
        </section>
      </div>



    </div>
  </section>

  <div class="footer">

  </div>
